<div class="container">
  <div class="row">
    <h1 class="underlined">Update an existing task</h1>
    <%= render 'tasks/form' %>
    <hr>
    <div><i class="fas fa-undo-alt"></i> <%= link_to 'Back to my tasks', tasks_path %></div>
  </div>
</div>
