<div class="container">
  <h1 class="underlined"><%= @task.title %></h1>
  <div class="details"><%= @task.details %></div>
  <div class="uncompleted"><%= @task.completed %></div>
  <div><%= link_to 'Back to my tasks', tasks_path %></div>
</div>
